<!--<!DOCTYPE html>-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <title>EXTRACT FRAME</title>-->
<!--    <meta name="description" content="This is a frontend  - Watch showstoppers movies & TV shows online or stream right to your smart TV, game console, PC, Mac, mobile, tablet and more.">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="stylesheet" href= "{{ url_for('static',filename='styles/global.css')}}">-->
<!--    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/landing-pages.css')}}">-->
<!--    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/movie.css')}}">-->
<!--    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style5.css')}}">-->
<!--</head>-->
<!--<body>-->
<!-- <style>-->
<!--        body::before{-->
<!--            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.9) 100%),url({{ url_for('static',filename='styles/bg.png')}});-->

<!--        }-->
<!--    </style>-->
<!--    &lt;!&ndash; index page block start | main landing page home | &ndash;&gt;-->

<!--    <main style="padding: 0px 10px;">-->
<!--        <header class="d-flex space-between middle-align">-->
<!--           <a href="/">-->
<!--            <img src="{{ url_for('static',filename='styles/logo1.png')}}" height="50px" width="170px" alt="site logo main" style="margin: auto;">-->
<!--        </a>-->
<!--        </header>-->

<!--        <section id="login-form-section">-->
<!--            &lt;!&ndash;Login form start&ndash;&gt;-->
<!--                    <div style="backgroung-color:black">-->
<!--                    <h1 align="center"><strong style="text-align:center">REPORT</strong></h1>-->
<!--                    <h2 class="formtitle">-->
<!--                        <div class="mail"  style="text-align:center">MAILID: {{mail}}</div>-->
<!--                    </h2>-->
<!--                    <h2 class="formtitle  ">-->
<!--                        <div class="phno"  style="text-align:center">PHONE NUMBER: {{phno}}</div>-->
<!--                    </h2>-->
<!--                    <h2 class="formtitle">-->
<!--                        <div class="loc"  style="text-align:center">LOCATION:{{loc}}</div>-->
<!--                    </h2></div>-->
<!--            <div class="text-center" style="text-align: center">-->
<!--                <button type="submit" class="btnn ugh">Download</button></div>-->

<!--<h2 class="word"></h2>-->
<!--    </section>-->
<!--</main>-->
<!--</body>-->

<!--</html>-->
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SEND MAIL</title>
    <meta name="description" content="This is a frontend  - Watch showstoppers movies & TV shows online or stream right to your smart TV, game console, PC, Mac, mobile, tablet and more.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href= "{{ url_for('static',filename='styles/global.css')}}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/landing-pages.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/movie.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style5.css')}}">
</head>
<body>
 <style>
        body::before{
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.9) 100%),url({{ url_for('static',filename='styles/bg.png')}});

        }
    </style>
    <!-- index page block start | main landing page home | -->

    <main style="padding: 0px 10px;">
        <header class="d-flex space-between middle-align">
           <a href="/">
            <img src="{{ url_for('static',filename='styles/logo1.png')}}" height="50px" width="170px" alt="site logo main" style="margin: auto;">
        </a>
        </header>
        <section id="login-form-section">
            <!--Login form start-->
            <div class="msg">{{ msg }}</div>
                <div class="loginContainer d-flex direction-column">
                    <h3 align="center"><strong>REPORT</strong></h3>
                    <h4 class="formtitle">Email: {{mail}}</h4>
                    <h4 class="formtitle">Phone No: {{phno}}</h4>
                    <h4 class="formtitle">Location: {{loc}}</h4>
<h2 class="word">
         <div class="flex jc">
             <form action = "{{ url_for('sendmail') }}"><input type="submit" class="btnn ugh" style="width:120 px"; value="SEND MAIL"> </form>
             <form action = "{{ url_for('do') }}"> <input type="submit" class="btnn ugh" style="width:120 px"; value="DOWNLOAD"></form>

      </div>
    </section>
</main>
</body>
</html>
